.git
.github
.gitignore
.vscode
.idea

node_modules
infra
cdk.out

tests
docs
output
data

*.md
Makefile
conftest.py
.dockerignore
.DS_Store
Thumbs.db

__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.coverage
htmlcov

*.log
*.tmp
skp_checkpoint.json*
